.parent {
  background-color: var(--bgColor);
}

.heading {
  text-align: center;
  margin-bottom: 7rem;
  font-size: 7rem;
}

@media screen and (max-width: 1000px) {
  .content {
    flex-direction: column;
  }

  .left,
  .right {
    flex: 1;
    width: 100%;
  }
}
