.imgGrid {
  height: 450px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.imgContainer,
.imgContainer2,
.imgContainer3 {
  position: relative;
  width: 100%;
  height: 100%;
}

.labelContainer {
  position: absolute;
  top: 15px;
  left: 15px;
}

.gridRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.imgContainer2 {
  height: 50%;
}

.imgContainer3 {
  height: 50%;
}

.img {
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid var(--olive);
}

@media screen and (max-width: 968px) {
  .imgGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .imgGrid {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 20rem;
    height: auto;
  }

  .imgContainer,
  .imgContainer2,
  .imgContainer3 {
    height: 250px;
  }
}
