.container {
  border: 2px solid var(--olive);
  border-radius: 10px;
  padding: 2rem;
  width: fit-content;
}

.available {
  font-weight: 600;
  color: green;
  background-color: #b3fab3;
  padding: 1.5rem;
  border-radius: 5px;
  line-height: 1;
  margin-top: 1rem;
}

.notAvailable {
  font-weight: 600;
  color: red;
  background-color: #fbb6b6;
  padding: 1.5rem;
  border-radius: 5px;
  line-height: 1;
  margin-top: 1rem;
}

.info {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
}

.btnContainer,
.btnContainerii {
  position: relative;
  z-index: 1;
  margin-top: 1rem;
}

.btn,
.btnii {
  text-align: center;
  font-size: 1.6rem;
  white-space: nowrap;
  border-radius: 10px;
  user-select: none;
  transition: all 0.1s ease-in;
  display: inline-block;
  padding: 15px 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
  width: 100%;
  color: var(--white);
  background-color: var(--olive);
  border: 2px solid var(--bgColor);
  cursor: pointer;
}

.btnii {
  border: 2px solid var(--olive);
  color: var(--purple);
  background-color: var(--white);
}
