:root {
  --green: #aeff12;
  --green2: #dafc53;
  --olive: #30533f;
  --gray: #f4f4f6;
  --black: #2a2a2a;
  --black2: #383838;
  --white: #ffffff;
  --white2: #b7b5b5;
  --border: #d4d4d4;
  --border2: #c3c3c3;
  --border3: #aeaeae;
  --border4: #686868;
  --text: #989696;
  --text2: #323131;
  --text3: #434343;
  --text4: #6a6a6a;
  --tan: #f1f1e9;
  --tan2: #d3d3b5;
  --tan3: #f7f1cf;
  --bgColor: #fffae6;
  --shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 150%;
  font-family: var(--mulish);
  overscroll-behavior: none;
  scroll-behavior: smooth;
  scroll-margin-top: 20px;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: var(--staatliches);
  color: var(--olive);
  /* hyphens: auto; */
}

h1 {
  font-size: 12rem;
  font-weight: 400;
  line-height: 0.85em;
}

h2 {
  font-size: 7.2rem;
  font-weight: 400;
  line-height: 0.97em;
}

h3 {
  font-size: 6.2rem;
  line-height: 1em;
  font-family: var(--fraunces);
  font-style: italic;
  font-weight: 600;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

p,
input,
textarea {
  hyphens: auto;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2em;
  color: var(--olive);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.blog {
  font-size: 1.6rem;
}

/* ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

::selection {
  background: var(--secondary);
}
::-moz-selection {
  background: var(--secondary);
} */

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }

  h1 {
    font-size: 10rem;
  }

  /* p {
    font-size: 113.7%;
  } */
}

@media screen and (max-width: 568px) {
  html {
    font-size: 50%;
  }

  h1 {
    font-size: 7rem;
  }

  p,
  label {
    font-size: 110%;
  }
}

/* .toastFont {
} */

/* Only use in production */
/* @media screen and (max-width: 623px) {
  h1,
  h2 {
    letter-spacing: -0.1rem;
  }
} */

.bgColor {
  background-color: var(--bgColor);
}

.center-loader {
  margin-left: auto;
  margin-right: auto;
  padding: 150px 0;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--olive);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* User Setting Loader */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.load {
  width: 80px;
  height: 80px;
  margin: 110px auto 0;
  border: solid 6px var(--purple);
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Button Loader */
.lds-dual-ring {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Login & Register */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
}

.user-dashboard .wrapper {
  margin-top: 3rem;
}

.wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

.form-btn {
  background-color: #e61e4d;
  border-color: #e61e4d;
  color: white;
  margin-top: 2.5rem;
  font-weight: bold;
  --bs-btn-active-bg: #b02a37;
  --bs-btn-active-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dc3545;
  --bs-btn-disabled-border-color: #dc3545;
}

.form-btn:hover {
  background-color: #bb2d3b;
  border-color: #bb2d3b;
  color: white;
}

.react-datepicker {
  width: 100%;
}

.react-datepicker__month-container {
  float: left;
  width: 100%;
}

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

/* Header User Profile */

/* Navbar */
/* nav {
  background-color: white;
  padding: 1rem 1rem;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
} */

.login-header-btn {
  background-color: #e61e4d;
}

.login-header-btn a {
  color: white;
}

/* Home page */

.stays-heading {
  font-weight: 700;
}

.back-to-search {
  font-size: 1.1rem;
  color: #e61e4d;
  font-weight: 600;
}

.back-to-search:hover {
  color: #e61e4d;
}

.card {
  height: 100%;
  border: 0px;
}

.card-title a {
  color: #2e2e2e;
  text-decoration: none;
  font-size: 1.2rem;
}

.card-title a:hover {
  color: #e61e4d;
  text-decoration: none;
}

.card-body {
  padding-left: 0;
  padding-right: 0;
}

.card-text {
  font-size: 1.2rem;
  color: black;
}

.card-body .view-btn {
  background-color: #e61e4d;
  color: white;
  text-decoration: none;
}

.card-body .view-btn:hover {
  background-color: #e61e4d;
  color: white;
}

.card-img-top {
  border-radius: 0.8rem;
}

.ratings {
  font-size: 1.2rem;
  color: #e61e4d;
}

.no-of-reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
  padding-top: 0.3rem;
}

/* Room Details Page */

.booking-card {
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  padding: 5px 10px;
}

.room-feature {
  font-size: 1.1rem;
  color: #404040;
}

.room-feature p {
  margin-left: 0.4rem;
  display: inline-block;
}

/* Reviews */
.review_user {
  font-size: 0.8rem;
  color: grey;
}

/* Footer */
/* footer {
  margin-top: auto;
  color: grey;
  bottom: 0;
  width: 100%;
} */

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

/* Booking Details */
.booking-details p {
  margin-left: 1.5rem;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

/* Sidebar */

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item {
  border: none;
}

.list-group-item.active {
  background-color: #f3f4f6;
  border-color: #f3f4f6;
  border-radius: 0.3rem;
  color: #e61e4d;
}

.booking-card {
  padding: 2rem;
  width: 100% !important;
}

.react-datepicker {
  border: 1px solid var(--gray) !important;
  border-radius: 10px !important;
}

.react-datepicker {
  width: 375px !important;
}

.react-datepicker__header {
  padding-top: 2rem !important;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
}

.react-datepicker__navigation {
  top: 15px !important;
}

.react-datepicker__month {
  width: 100%;
  user-select: none !important;
}

.react-datepicker__current-month {
  font-size: 1.6rem !important;
  margin-bottom: 2rem !important;
}

.react-datepicker__day-names,
.react-datepicker__week {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.react-datepicker__day-names {
  padding: 0rem !important;
}

.react-datepicker__day-name {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: transparent;
}

.react-datepicker__day {
  font-size: 1.4rem;
  position: relative;
  z-index: 1;
}
/* 
.react-datepicker__day::after {
} */

.react-datepicker__day--selected,
.react-datepicker__day--today,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--selecting-range-end,
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  position: relative;
  user-select: none !important;
  background-color: transparent !important;
}

.react-datepicker__day--selected:after,
.react-datepicker__day--today:after,
.react-datepicker__day--in-selecting-range:after,
.react-datepicker__day--selecting-range-start:after,
.react-datepicker__day--selecting-range-end:after,
.react-datepicker__day--selected:after,
.react-datepicker__day--in-selecting-range:after,
.react-datepicker__day--in-range:after,
.react-datepicker__month-text--selected:after,
.react-datepicker__month-text--in-selecting-range:after,
.react-datepicker__month-text--in-range:after,
.react-datepicker__quarter-text--selected:after,
.react-datepicker__quarter-text--in-selecting-range:after,
.react-datepicker__quarter-text--in-range:after,
.react-datepicker__year-text--selected:after,
.react-datepicker__year-text--in-selecting-range:after,
.react-datepicker__year-text--in-range:after {
  position: absolute;
  content: "";
  top: -8px;
  left: -6px;
  background-color: var(--purple);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: -1;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: transparent !important;
  color: var(--white) !important;
}

.mapboxgl-canvas {
  border-radius: 20px;
  height: 350px;
  width: 100%;
}

@media screen and (max-width: 968px) {
  .react-datepicker {
    width: calc(80vw - 10px) !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .react-datepicker__day--selected:after,
  .react-datepicker__day--today:after,
  .react-datepicker__day--in-selecting-range:after,
  .react-datepicker__day--selecting-range-start:after,
  .react-datepicker__day--selecting-range-end:after,
  .react-datepicker__day--selected:after,
  .react-datepicker__day--in-selecting-range:after,
  .react-datepicker__day--in-range:after,
  .react-datepicker__month-text--selected:after,
  .react-datepicker__month-text--in-selecting-range:after,
  .react-datepicker__month-text--in-range:after,
  .react-datepicker__quarter-text--selected:after,
  .react-datepicker__quarter-text--in-selecting-range:after,
  .react-datepicker__quarter-text--in-range:after,
  .react-datepicker__year-text--selected:after,
  .react-datepicker__year-text--in-selecting-range:after,
  .react-datepicker__year-text--in-range:after {
    top: -9px;
    left: -7px;
  }
}

.dataTables_info {
  /* display: none; */
  margin-top: 3rem;
  font-weight: 500;
}

.SalesCharts_chart__zfS15 {
  width: 100%;
}

canvas {
  width: 100% !important;
}
