.parent {
  background-color: var(--bgColor);
}

.top {
  margin-bottom: 3rem;
}

.heading {
  text-align: center;
  width: 100%;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.card {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 2px solid var(--olive);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 300px;
}

.img {
  object-fit: cover;
}

.labelContainer {
  position: relative;
  top: 10px;
  left: 10px;
  width: fit-content;
}

.info {
  padding: 2rem;
  padding-top: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.title {
  font-family: var(--staatliches);
  font-size: 3.6rem;
  font-style: normal;
  line-height: 1em;
  text-align: center;
  width: 100%;
  color: var(--olive);
  border-bottom: 2px solid var(--olive);
  padding: 2rem;
  margin-bottom: 2rem;
  background-image: repeating-linear-gradient(
    45deg,
    #f1f1f1 0,
    #f1f1f1 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 10px 10px;
}

.price {
  /* text-align: center; */
  width: 100%;
  color: var(--olive);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  margin-top: 1rem;
}

.btnContainerii {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 1168px) {
  .bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 968px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 668px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .btnContainerii,
  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
